*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(19, 19, 44);
}
.container-nvbar{
background-color:rgb(5, 5, 27) ;
    border-bottom: solid 5px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.links{
    background-color:rgb(5, 5, 27) ;
    height: 95px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    font-size: 25px;
    font-family: sans-serif;
    
}
a{
    transition: .5s;
}
a:hover{
    background-color: rgb(189, 183, 183);
    
}
  a:link, a:visited, a:active {
        text-decoration:none;
    }   